@import 'reset';
@import 'variables';

body {
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;

}

.container {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    width: 75vw;
}


.img {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;

    img {
        height: 100vh;
    }

}

.logo {
    position: absolute;
    top: 65px;
    left: 8.65vw;
}


.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: left;
    padding: 8.65vw;
}

h1 {
    font-size: 60px;
    width: 40%;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: $dark-grayish-red;
    line-height: 1.2;

    span {
        font-weight: 300;
        color: $desaturated-red;
    }
}

p{
    width: 80%;
    line-height: 2;
    margin-top: 30px;
    margin-bottom: 47px;
    color: $desaturated-red;
}

form{
    display: flex;

    input{
        color: black;
        outline: none;
        border-radius: 27px;
        border: 1px solid lightgray;
        width: 400px;
        padding: 15px;
        
    }

    ::placeholder{
        color: $dark-grayish-red;
        font-family: 'Josefin Sans', sans-serif;
        opacity: 0.5;
        font-size: 16px;
    }


    button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: linear-gradient(135deg,  hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        padding: 10px 30px;
        border-radius: 27px;
        transform: translateX(-70px);
        animation: animation 1.2s infinite;
        animation-direction: alternate;
        cursor: pointer;
    }
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 15px;
	right: 80px;
    font-size: 1.2rem;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: -25px;
	left: 15px;
	visibility: hidden;
}

.form-control {
	position: relative;
}

.form-control.error small {
	visibility: visible;
}

@keyframes animation{
    0%{
        transform: translateX(-70px);
    }
    100%{
        transform: translateX(-60px);
    }
}